<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @game.completed %>
</p>

<% if @game.completed? %>
<p>
  <strong>Number:</strong>
  <%= @game.number %>
</p>
<p>
  <strong>No. of guesses:</strong>
  <%=@game.guesses.count %>
<p>
<% else %>

<%= form_for @game.guesses.build,
            url:game_guesses_path(@game) do |f| %>
    <p>
      <strong>Guess:</strong>
      <%= f.number_field :number %>
      <%=f.submit%>
    </p>
  <%end%>
<%end%>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
